body{
	font-family: 'Prompt', sans-serif;
	margin: 0;
	background-color: #ECE2E1;
}

a{
	text-decoration: none;
	color: black;
}

.head-custom{
	margin: 0;
	background-color: #AEE1E1;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 70px;
	padding-left: 70px;
	opacity: 0.9;
}

.set-right{
	display: flex;
	justify-content: right;
}
.header-right ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.header-right li{
	padding-right: 30px;
	text-align: left;
}
.dropdown{
	text-align: right;
	justify-content: right;
	align-items: right;
}
.photo{
	display: flex;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.photo p{
	font-size: 38pt;
}
.p-left{
	flex-basis: 32%;
}
.p-center{
	flex-basis: 32%;
}
.p-right{
	flex-basis: 32%;
}

hr{
	margin: 0;
}

.first_aug {
	display: flex;
	margin: auto;
	justify-content: center;
}
.aboutme{
	background-color: rgba(255, 255, 255, 0.644);
	padding: 20px 50px 50px 50px;
	max-width: 350px;
	border-radius: 5px;
	flex-basis: 30%;

	box-shadow: 0 0 30px rgb(206, 202, 202);
	margin-left: 20px;
	margin-right: 20px;
}

.interest{
	background-color: rgba(255, 255, 255, 0.644);
	padding: 20px 50px 50px 50px;
	max-width: 350px;
	border-radius: 5px;
	flex-basis: 30%;

	box-shadow: 0 0 30px rgb(206, 202, 202);
	margin-left: 20px;
	margin-right: 20px;
}

.skills{
	background-color: rgba(255, 255, 255, 0.644);
	padding: 20px 50px 50px 50px;
	max-width: 350px;
	border-radius: 5px;
	flex-basis: 30%;

	box-shadow: 0 0 30px rgb(206, 202, 202);
	margin-left: 20px;
	margin-right: 20px;
}

.education{

}
.edu {
	text-align: left;
	padding-left: 15%;
}
.info{
	margin-left: 20%;
	font-size: 15pt;
}

.infos{
	font-size: 14pt;
}

.blue{
	color: #3d9b9b;
	font-weight: bold;
}

.footer{
	font-family: monospace;
	text-align: right;
	padding-right: 15px;
	padding-bottom: 40px;
}

.update{
	font-size: 10pt;
}

@media only screen and (max-width: 991px) {
	.photo{
		display: block;
		justify-content: center;
	}

	.p-left{
		padding-top: 20px;
	}

	.p-right{
		padding-top: 20px;
	}

	.head-custom{
		margin: 0;
		background-color: #AEE1E1;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 20px;
		padding-left: 20px;
		opacity: 0.9;
	}

	.photo img{
		max-width: 330px;
	}

	.photo p{
		font-size: 30pt;
	}
	.sp{
		margin-top: 20px;
	}

	.first_aug {
		display: inline;
		margin: auto;
		margin: 0;
	}

	.aboutme{
		max-width: none;
		background-color: #ECE2E1;
		box-shadow: 0 0 0;
		padding: 0px 50px 50px 50px;


		margin-left: 10px;
		margin-right: 40px;
	}

	.interest{
		max-width: none;
		background-color: rgba(255, 255, 255, 0.438);
		box-shadow: 0 0 0;
		padding: 20px 50px 50px 30px;

		margin-top: 10px;
		margin-left: 40px;
		margin-right: 40px;
	}

	.skills{
		max-width: none;
		background-color: #ECE2E1;

		box-shadow: 0 0 0;

		margin-top: 10px;
		margin-left: 10px;
		margin-right: 40px;
	}

	.edu{
		text-align: center;
		padding-left: 0;
	}
	.info{
		margin-left: 40px;
		font-size: 12pt;
		padding-right: 20px;
	}
}
